@import "tailwindcss";
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

canvas {
    background-color: transparent;
}